
.icon-s1p:before { content: '\e809'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */